<h1>Edit profile</h1>
<form action="/users/edituserprofile" method="post" enctype="multipart/form-data">
    <input type="file" name="image" id="" placeholder="image" required="true" accept=".jpg">
    <h2>User Name</h2>
    <input type="text" value="{{profile.userName}}" name="companyname">
    <h2>Gmail</h2>
    <input type="text" value="{{profile.email}}" name="gmail">
    <h2>Phone</h2>
    <input type="text" value="{{profile.phoneNumber}}" name="phone">
    <h2>About</h2>
    <textarea name="about" value="{{profile.about}}"></textarea>
    <h2>Qualification</h2>
    <textarea name="qualification" value="{{profile.qualification}}"></textarea>
    <h2>Skills</h2>
    <textarea name="skill" value="{{profile.skill}}"></textarea>
    <h2>Experiance</h2>
    <textarea name="experiance" value="{{profile.experiance}}"></textarea>
    <h2>Upload image</h2>
    <input type="file" name="image" id="" accept=".jpg">
    <h2>Upload resume</h2>
    <input type="file" name="resume" id="" accept=".pdf">
    <h2>Total Projects</h2>
    <input type="string" name="totalprojects">
    <h2>Job catagory</h2>
    <label for="jobcategory">Choose Job</label>
    <select name="jobcatagory" id="jobcategory">
        <option value="software">Software Engineer</option>
        <option value="chemical">Chemical Engineer</option>
        <option value="civil">Civil Engineering</option>
        <option value="eee">EEE</option>
        <option value="mec">Mechanical Engineer</option>
        <option value="instrumentation">Instrumentation Engineer</option>
    </select>
    <h2>Language</h2>
    <input type="checkbox" id="language" name="language" value="english">
    <label for="language">English</label><br>
    <input type="checkbox" id="language" name="language" value="malayalam">
    <label for="language">Malayalam</label><br>
    <input type="checkbox" id="language" name="language" value="tamil">
    <label for="language">Tamil</label><br>
    <input type="checkbox" id="language" name="language" value="hindi">
    <label for="language">Hindi</label><br><br>
    <button>Submit</button>
    <a href="/viewuserprofile">Back</a>
</form>