
<link rel="stylesheet" href="/stylesheets/viewjobuser.css"> 
<div>
    {{!-- <a href="/viewuserapplication">View applied Jobs</a> --}}
    <a href="/userhomepage" class="button-9">Back</a>
</div>
<div class="allcard">
{{#each userjobview}}

<div class="card">

    <h1>{{title}}</h1>
    <p>Qualification:{{qualification}}</p>
    <p>Veccancy:{{veccancy}}</p>
    <p>Salary:{{salary}}</p>
    <p>Experiance:{{experiance}}</p>
    <p>Date posted:{{dateposted}}</p>
    <p>Last date:{{lastdate}}</p>
    <p>Job type:{{jobtype}}</p>
    <p>JOB STATUS:{{jobstatus}}</p>
    <div class="icon">
        <a href="" ><BUtton class="button-7" >VIEW COMPANY</BUtton></i>
        </a>
        <a href="/apply/{{_id}}"><BUtton    class="card-button">APPLY</BUtton></i>
        </a>
    </div>
</div>
{{/each}}
</div>